body {
	margin: 50px;
	font-size: 20px;
	font-family: arial;
	background: #555;
}

.g {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.rabotasukablet {
	box-shadow: 0 0 10px 10px gray;
	padding: 10px;
	margin: 10px;
	background: #f5f5f5;
	border-radius: 20px;
}

.text {
	box-shadow: 0 0 10px 10px gray;
	padding: 10px;
	background: #f5f5f5;
	border-radius: 20px;
	text-align: justify;
}

input {
	
}

.p5 {
	padding-top: 10px;
}

#postavtepg5 {
	opacity: 0;
}

input:checked ~ #postavtepg5 {
	opacity: 1;
	margin-left: 2000px;
	transition: 7s;
}